// CSS for evol-colorpicker demo page
// http://evoluteur.github.io/colorpicker/

body{
    padding: 20px 10px 10px 40px;
	font-size: 11pt;
	font-family: "Century Gothic",arial;
	color: #555;
	font-weight: 300;
    background-image: url(bg0.png);
    background-repeat: repeat-y;
}
h1 {
    margin: 0 0 30px;
}
h1 > span{
    font-size: .7em;
    font-weight: 400;
} 
a {
    text-decoration: none;
	color: #39C;
	font-weight: 400;

	&:hover {
    	color: navy;
	}

	&.sel{
		color: #000;
		text-decoration: none;
	}

}
label{
    display: block;
    margin: 15px 0 4px;
}
header{
    position: relative;
}
#github{
    position: absolute;
    top: 0;
    right: 0;
	iframe {
	    margin-top:10px;
	}
}

.demoPanel{ 
	float:left;
	border: 2px solid #A7C8E2 !important;
	margin: 4px 3px;
	padding: 15px; 
	width:212px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	input{
		width:100px;
	}

}
.footer{
	text-align: center;
	font-size:smaller;
	color:Gray;
}
.clearer{
    display:block;
    height:0;
    width:0;
    clear: both;
}
