// CSS for evol-colorpicker demo page
// http://evoluteur.github.io/colorpicker/index.html

body{
	padding: 20px;
	font-size: 11pt;
	font-family: "Century Gothic",arial;
	color: #555;
	font-weight: 300;
}
h1{
	color: #39C;
}
a {
	color: #39C;
	font-weight: 400;

	&:hover {
		color: #FF9900;
	}

	&.sel{
		color: #000;
		text-decoration: none;
	}

}
#github{
    float: right;
    margin: 0 0 10px 30px;
	a {
	    text-decoration: none;
	}
	iframe {
	    margin-top:10px;
	}
}

.demoPanel{ 
	float:left;
	border: 2px solid #A7C8E2;
	margin: 4px 3px;
	padding: 10px; 
	width:212px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	input{
		width:100px;
	}

}
	.footer{
	text-align: center;
	font-size:smaller;
	color:Gray;
}
